<div class="m-5">
  <div class="row">
    <div class="col-xl-10">
      <h2>Bienvenido a mi pagina {{displayName}}</h2>
    </div>
    <div class="col-xl-1" style="text-align: center;">
      <button class="btn btn-outline-primary"
          (click)="verPerfil()">
        Perfil
      </button>
    </div>  
    <div class="col-xl-1" style="text-align: center;">
      <button class="btn btn-outline-danger"
          (click)="salir()">
        Salir
      </button>
    </div>
  </div>
  <hr>
  <div class="container" style="text-align: center;">
    <img src="https://vignette.wikia.nocookie.net/ssbb/images/b/b8/025Pikachu_LG.png/revision/latest/scale-to-width-down/350?cb=20190520161120&path-prefix=es" alt="pikachu">
  </div>
</div>
